
<div class='container row'>
  <div class='hero col-md-3' *ngFor='let hero of heroes'>

    <div class='card'>
      <h5 class='card-header'>{{ hero.name }}</h5>

      <div>
        <!-- Imagem Default localizada no ASSETS
        <img class='card-img-top' [src]="hero.img" onerror='this.src="assets/img/deafult.jpeg"' alt="{{ hero.name }}'s picture" >
        -->
        <img class='card-img-top' [src]="hero.img" onerror='this.src="https://app.nucleobelavista.com.br/img/user.jpg"' alt="{{ hero.name }}'s picture" >
      </div>

      <div class = 'card-body'>
        <h6 class='card-subtitle mb-2 text-muted'>ID: {{ hero.id }}</h6>
        <div><span>Nome: {{ hero.name }}</span></div>
        <div><span>Tipo: Lutador</span></div>
      </div>
      <div class='card-footer'>
        <a class='btn btn-primary' routerLink='/detail/{{ hero.id }}'>Editar</a>
      </div>
    </div>

  </div>
</div>

<div class='container row'>
<h2 class='col-md-12'>Adicionar novo herói</h2>

<label for="heroName">Hero Name</label>
<input #heroName placeholder="Hero name" id='heroName'>
<button class='btn btn-primary' (click)='add(heroName.value); heroName.value="" '>Salvar</button>
</div>